<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <title>BWD Assessment samples</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="vendor/jquery-1.11.1.min.js"></script>
    <![endif]-->
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-mocks.js"></script>
    <script src="vendor/ng-table-master/ng-table.js"></script>
    <script src="vendor/ng-table-export-master/ng-table-export.js"></script>
    <link rel="stylesheet" href="vendor/ng-table-master/ng-table.css">
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="css/css.css">

</head>

<body ng-app="main" ng-controller="AppCtrl">

<h3>BWD 2013 new directive assessment samples: {{ dataTotal }}</h3>

<a class="btn btn-primary csv-export" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>

<div id="tablediv">

    <!--<button ng-click="tableParams.reload()" class="btn pull-right">Reload</button>-->
    <!--<button ng-click="tableParams.sorting({})" class="btn pull-right">Clear sorting</button>-->
    <div class="clearfix"></div>

    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true"
               class="table table-bordered table-striped" export-csv="csv">
            <tr ng-repeat="bwd in $data">
                <td data-title="'cc'" filter="{ 'cc': 'select' }" filter-data="names($column)" sortable="'cc'">{{bwd.cc}}</td>
                <td data-title="'BWID'" sortable="'BWID'">{{bwd.BWID}}</td>
                <td data-title="'BWName'" filter="{ 'BWName': 'text' }" sortable="'BWName'">{{bwd.BWName}}</td>
                <td data-title="'SampleDate'" sortable="'SampleDate'">{{bwd.SampleDate}}</td>
                <td data-title="'ConcIE'" sortable="'ConcIE'">{{bwd.ConcIE}}</td>
                <td data-title="'ConcEC'" sortable="'ConcEC'">{{bwd.ConcEC}}</td>
                <td data-title="'Excluded reason'" sortable="'excluded_reason'">{{bwd.excluded_reason}}</td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>